

:root {
  --basic-black: #000000;  
  --basic-color-text: #283136;
  --basic-red: #FB565A;
  --basic-red-hover: #E74246;
  --basic-red-active: #D7373B;
  --basic-green: #00CA74;
  --basic-green-hover:#00BC6C;
  --basic-green-active:#00AA62;
  --basic-yellow: #EFC849;
  --basic-yellow-hover: #EAB534;
  --basic-yellow-active: #E5A722;
  --basic-gray: #888888;
  --basic-color-gray: #EEEEEE;
  --basic-color-gray-hover: #DFDFDF;
  --basic-color-gray-active: #D5D5D5;
}

body {
  min-width: 1177px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;  
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

a {
  text-decoration: none;      
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*
.main-header{
  margin-bottom: 75px;
  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}
*/

.main-header-logo {
  width: 160px;
  height: 65px;
}

.container {
  width: 1157px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation-list {
  width: 438px;
  margin: 0;
  padding: 0;

}

.user-navigation {
  max-width: 140px;
}

.main-navigation{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--basic-color-gray);
  text-transform: uppercase;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
}

.user-navigation .user-basket {
  padding-left: 30px;
}

.product-info {
  text-align: center;
  margin-bottom: 155px;
}

.product-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  text-align: left;
}

.product-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.product-text {
  color: var(--basic-color-text);
}

.main-footer {
  margin-top: 131px;

}



.footer-map {
  display: block;
  position: relative;
}

.footer-map-mapker {
  display: block;
  position: absolute;
  top: 35px; 
  left: 650px;
}

.page-catalog {

  
}

.social-button {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.site-navigation-item,
.main-pagination-list,
.pagination-list,
.product-list,
.about-us-product-list,
.social-button,
.projects-list,
.filter-top-list,
.filter-list,
.filter-left-list {
  list-style: none;
}

.site-navigation-item a:not([href]),
.user-navigation a:not([href]) {
  background-color: var(--basic-color-gray);
}

.site-navigation-item a,
.user-navigation a {
  color: var(--basic-black);
  
}

.site-navigation-item a:hover,
.user-navigation a:hover {
  color: var(--basic-red);
}

.main-header-logo img:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation-item a:active,
.user-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}



.button {
  font: inherit;
  line-height: 18px;
  text-align: center;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
}

.button-slider,
.button-web-sites,
.button-applications,
.button-presentations,
.button-projects-price,
.button-message {
  color: var(--basic-color-gray);
}

.button-slider,
.button-web-sites,
.button-projects-price,
.button-message {
  background-color: var(--basic-red);
}

.button-applications {
  background-color: var(--basic-green);
  
}

.button-presentations {
  background-color: var(--basic-yellow);
}

.button a {
  color: var(--basic-black);
  background-color: var(--basic-color-gray);
}
 
.button-slider:hover,
.button-web-sites:hover,
.button-projects-price:hover,
.button-message:hover {
  background-color: var(--basic-red-hover);
}

.button-slider:active,
.button-web-sites:hover:active,
.button-projects-price:active,
.button-message:active {
  background-color: var(--basic-red-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-applications:hover {
  background-color: var(--basic-green-hover);
  
}

.button-applications:active {
  background-color: var(--basic-green-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  
}

.button-presentations:hover {
  background-color: var(--basic-yellow-hover);
}

.button-presentations:active {
  background-color: var(--basic-yellow-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.button-submit:hover,
.button-pagination-item:hover {
  background-color: var(--basic-color-gray-hover);
}

.button-submit:active,
.button-pagination-item:active {
  background-color: var(--basic-color-gray-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


.text-social {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.text-sale {
  font-weight: normal;
  line-height: 22px;
}

h1 {
  font-size: 55px;
  line-height: 55px;
  background-color: var(--basic-color-gray);
}

.filter-left-item {
  font-weight: normal;
  line-height: 19px;
  color: var(--basic-color-text); 
}

.filter-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}


.text-form, 
.slider-next,
.slider-last {
  display: none;
}

